<%= render 'navbar' %>
<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4 text-primary">
        <i class="fas fa-utensils me-2"></i>Restaurants<i class="fas fa-hamburger ms-2"></i>
      </h1>
    </div>
  </div>
  <div class="row mt-4">
    <% @restaurants.each do |restaurant| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-dark">
              <i class="fas fa-pizza-slice text-warning me-2"></i><%= restaurant.name %>
            </h5>
            <%= link_to "View Restaurant", restaurant_path(restaurant), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
